.features {
    grid-column: center-start / center-end;
    // grid-row: 2 / 3;
    // grid-area: 2 / center-start / 3 / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}